/*
        GENERAL CSS
*/


html {
    background-color: black;
}


html, body {
    height: 100%;
    width: 100%;
    overflow: hidden; 
}


body {
    /*
    background-image: url(/assets/images/macbookPro.jpg)no-repeat center fixed;
    background-size: cover;
    */
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(/assets/images/macbookPro.jpg) no-repeat center fixed;
    background-size: cover;
    color: white;
    font-family: 'Roboto', sans-serif;
    
}


header{
    display: flex;
    padding: 1%;
    height: 5%;
    position: relative; ;
    width: 100%;
   
}

a {
    color: white;
    text-decoration: none;

}

.navigation {
    width: 70%;
    text-align: right;
}
.navigation ul li {
    margin-left: 5%;
    font-size: 1.2rem;
    
}

.contact{
    width: 30%;
    text-align: right;
    margin-right: 5%;

}

li {
    display: inline-block;
    font-size: 2rem;
}

main{
    height: 90%;
    width: 80%;
    margin-left:auto ;
    margin-right: auto;
    overflow: auto;   
   
}
    
footer {
  text-align: center;
  
}



/*
        INDEX PAGE
*/



.index {
    width: 60%;
    text-align: right;

}

.index h1 {
    font-size: 5rem;
    margin-top: 3%;
    margin-bottom: 5%;

}

.index h2 {
    font-size: 1.5rem;
}

/*
        ABOUT PAGE
*/

.about img {
    height: 25%;
    border-radius: 50%;

}





/*
        PROJECTS PAGE
*/




/*
        MOBILE OPTIMIZATION
*/

@media only screen and (max-width: 800px) {

    .index {
        width: 80%;
    }
    .index h1 {
        font-size: 3rem;
    }
    .index h2 {
        font-size: 1.2rem;
    }
    
  }















